{% extends "base/table_view_base_billing.html" %}
{% load render_table from django_tables2 %}
{% load  i18n bootstrap3 %}
{% load widget_tweaks static %}

{% block meta_title %}
    {% trans "Complete orders" %}
{% endblock %}

{% block title %}
    {% trans "Complete orders" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Complete orders" %}</li>
{% endblock %}

{% block main_header %}
    {% trans "Complete orders" %}
{% endblock %}

{% block main_toolbar %}
{% endblock %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static "assets/css/daterangepicker.css" %}">
{% endblock %}

{% block extra_js %}

<script src="{% static "assets/js/moment.min.js" %}"></script>
<script src="{% static "assets/js/daterangepicker.js" %}"></script>
{% endblock %}

{% block main_inner %}
     <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-filter"></i>
                        Filter
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                      <form method="get">
    <div class="well">
      <h4 style="margin-top: 0"><a href='{{ request.path }}' >Clear</a></h4>
      <div class="row">
      <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.order_date.label_tag }}
          {% render_field filter.form.order_date class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.service.label_tag }}
          {% render_field filter.form.service class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.origin.label_tag }}
          {% render_field filter.form.origin class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.insurance.label_tag }}
          {% render_field filter.form.insurance class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.number.label_tag }}
          {% render_field filter.form.number class="form-control" %}
        </div>
		<div class="form-group col-sm-4 col-md-3">
          {{ filter.form.patient__patient_id.label_tag }}
          {% render_field filter.form.patient__patient_id class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.patient__name.label_tag }}
          {% render_field filter.form.patient__name class="form-control" %}
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
       
    </div>
  </form>
                </div>
            </div>
        </div>
 <script type="text/javascript">
 $('input[name="order_date"]').daterangepicker({locale: {
      format: 'YYYY-MM-DD'
    }});
 $('#daterange').on('apply.daterangepicker', function(ev, picker) {
  console.log(picker.startDate.format('YYYY-MM-DD'));
  console.log(picker.endDate.format('YYYY-MM-DD'));
});
 </script>

{% render_table ordertable "tables2/bootstrapped-tables2.html" %}
{% endblock %}
