{% extends "base/table_view_base_billing.html" %}
{% load render_table querystring  from django_tables2 %}
{% load  i18n bootstrap3  %}
{% load widget_tweaks static %}

{% block meta_title %}
    {% trans "Transaction history" %}
{% endblock %}

{% block title %}
    {% trans "Transaction history" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active"><a href="{% url 'patients_list' %}">{% trans "Patients" %}</a></li>
<li class="active"><a href="{% url 'patient_detail' patient.id  %}">{{ patient.patient_id }} - {{ patient.name }}</a></li>
<li class="active">{% if orders %}{% trans "Edit Order" %}{% else %}{% trans "Transaction history" %}{% endif%} </li>
{% endblock %}

{% block main_header %}
    {% trans "Transaction history" %}
{% endblock %}

{% block main_toolbar %}

{% endblock %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static "assets/css/daterangepicker.css" %}">
{% endblock %}
    
{% block extra_js %}
<script src="{% static "assets/js/jquery-1.12.3.min.js" %}"></script>
<script src="{% static "assets/js/moment.min.js" %}"></script>
<script src="{% static "assets/js/daterangepicker.js" %}"></script>
{% endblock %}



{% block main_inner %}
 
<form method="get">
<div class="well">
<h4 style="margin-top: 0"><a href="{% url 'jm_list' %}" >Clear</a></h4>
      <div class="row">
      <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.order__order_date.label_tag }}
          {% render_field filter.form.order__order_date class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.name.label_tag }}
          {% render_field filter.form.name class="form-control" %}
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
      </div>
  </form>
  
 <script type="text/javascript">
 $('input[name="order__order_date"]').daterangepicker({locale: {
      format: 'YYYY-MM-DD'
    }});
 $('#daterange').on('apply.daterangepicker', function(ev, picker) {
  console.log(picker.startDate.format('YYYY-MM-DD'));
  console.log(picker.endDate.format('YYYY-MM-DD'));
});
 </script>
 
{% render_table transtable "tables2/bootstrapped-tables2.html" %}
{% endblock %}

{% block main_footer %}
    <a href="../../../patients/trans_history/perview/{{ patient.id }}/?order__order_date={{ filter.form.order__order_date.value }}" class="btn btn-default" target="blank" role="button">
    <span class="fa fa-print"></span>&nbsp;{% trans "Print preview" %}</a>
{% endblock %}