<html>

<head>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:DengXian;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"\@DengXian";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<title>Batch Worklist [{{ worklist.id }}]</title>
<script type="text/javascript">
window.print();
window.onfocus=function(){ window.close(); }
</script>
</head>

<body lang=EN-US>

<div class=WordSection1>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height: normal'>&nbsp;</p>
  </td>
  <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal'><b><span style='font-size:16.0pt'>Lembar  Kerja</span></b></p>
  <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt; text-align:right;line-height:normal'>{{ worklist.batch_date }}</p>
  </td>
 </tr>
 <tr>
  <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
   <tr>
    <td width=148 valign=top style='width:111.2pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt; line-height:normal'>Grup</p>
    </td>
    <td width=148 valign=top style='width:111.25pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt; line-height:normal'>: {{ worklist.batch_group }}</p>
    </td>
   </tr>
   <tr>
    <td width=148 valign=top style='width:111.2pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt; line-height:normal'>Batch No</p>
    </td>
    <td width=148 valign=top style='width:111.25pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt; line-height:normal'>: {{ worklist.id }}</p>
    </td>
   </tr>
  </table>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'></p>
  </td>
  <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=623 colspan=2 valign=top style='width:467.5pt;padding:0in 5.4pt 0in 5.4pt'>
  <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
   style='border-collapse:collapse;border:none'>
   <tr>
    <td width=33 valign=top style='width:25.0pt;border:none;border-top:solid windowtext 1.5pt; padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=116 valign=top style='width:86.15pt;border:none;border-top:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>Order No.</p>
    </td>
    <td width=162 valign=top style='width:121.5pt;border:none;border-top:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>Nama Pasien</p>
    </td>
    <td width=27 valign=top style='width:20.05pt;border:none;border-top:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>JK</p>
    </td>
    <td width=123 valign=top style='width:92.05pt;border:none;border-top:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>Umur</p>
    </td>
    <td width=148 valign=top style='width:111.45pt;border:none;border-top:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>Asal</p>
    </td>
   </tr>
   <tr>
    <td width=33 valign=top style='width:25.0pt;border:none;border-bottom:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=116 valign=top style='width:86.15pt;border:none;border-bottom:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=162 valign=top style='width:121.5pt;border:none;border-bottom:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=27 valign=top style='width:20.05pt;border:none;border-bottom:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=123 valign=top style='width:92.05pt;border:none;border-bottom:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>DOB</p>
    </td>
    <td width=148 valign=top style='width:111.45pt;border:none;border-bottom:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>Dokter</p>
    </td>
   </tr>
   <tr>
   {% for dtl in worklist.worklist_order.all %}
   
    <td width=33 valign=top style='width:25.0pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>1</p>
    </td>
    <td width=116 valign=top style='width:86.15pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'><b>{{ dtl.order.number }}</b></p>
    </td>
    <td width=162 valign=top style='width:121.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'><b>{{ dtl.order.patient.name }}</b></p>
    </td>
    <td width=27 valign=top style='width:20.05pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>{{ dtl.order.patient.gender.code|default:""  }}</p>
    </td>
    <td width=123 valign=top style='width:92.05pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>{{ dtl.order.patient.calculate_age }}</p>
    </td>
    <td width=148 valign=top style='width:111.45pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>{{ dtl.order.origin|default:""  }}</p>
    </td>
   </tr>
   <tr>
    <td width=33 valign=top style='width:25.0pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=116 valign=top style='width:86.15pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=162 valign=top style='width:121.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=27 valign=top style='width:20.05pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=123 valign=top style='width:92.05pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>{{ dtl.order.patient.dob }}</p>
    </td>
    <td width=148 valign=top style='width:111.45pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>{{ dtl.order.doctor|default:""  }}</p>
    </td>
   </tr>
   {% for dtl_tes in dtl.worklisttest_worklistorder.all %}
   <tr>
    <td width=33 valign=top style='width:25.0pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=116 valign=top style='width:86.15pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=162 valign=top style='width:121.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>{{ dtl_tes.test.name }}</p>
    </td>
    <td width=27 valign=top style='width:20.05pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=123 valign=top style='width:92.05pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=148 valign=top style='width:111.45pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
   </tr>
   {% endfor %}
   <tr>
    <td width=33 valign=top style='width:25.0pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=116 valign=top style='width:86.15pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=162 valign=top style='width:121.5pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=27 valign=top style='width:20.05pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=123 valign=top style='width:92.05pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
    <td width=148 valign=top style='width:111.45pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>&nbsp;</p>
    </td>
   </tr>
   {% endfor %}
  </table>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
