{% load i18n %} {% if perms.corelism.add_orders %}
<button
  class="btn btn-default"
  onclick="location.href=
                '{% url 'order_add_patient' %}'"
  title="{% trans 'Add new patient order' %}"
  data-toggle="tooltip"
  data-placement="top"
>
  <span class="fa fa-user-plus"></span>
</button>
{% endif %} {% if perms.corelism.add_orders %}
<button
  class="btn btn-default"
  onclick="location.href=
                '{% url 'order_patient' %}'"
  title="{% trans 'Add order from existing patient' %}"
  data-toggle="tooltip"
  data-placement="top"
>
  <span class="fa fa-user"></span>
</button>
{% endif %} {% if perms.corelism.change_orders %}
<button
  class="btn btn-info"
  onclick="location.href=
                '{% url 'order_edit' orders.pk %}'"
  title="{% trans 'Edit order' %}"
  data-toggle="tooltip"
  data-placement="top"
>
  <span class="glyphicon glyphicon-pencil"></span>
</button>
{% endif %}
