{% extends "base/form_view_base_billing.html" %}
{% load i18n crispy_forms_tags crispy_forms_field crispy_forms_filters bootstrap3 %}

{% block meta_title %}
    {% trans "Patient" %}
{% endblock %}

{% block title %}
    {% trans "Patient" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'orders_list' %}">{% trans "Orders" %}</a></li>
    <li class="active"><a href="{% url 'order_patient' %}">{% trans "Select patient" %}</a></li>
    <li class="active">{% if patient %}{% trans "Edit patient" %}{% else %}{% trans "Create Patient" %}{% endif%}</li>
{% endblock %}

{% block main_header %}
    {% if patient %}{% trans "Edit patient" %}{% else %}{% trans "Create patient" %}{% endif%}
{% endblock %}

{% block main_toolbar %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'order_patient' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}

{% block main_inner %}
{% bootstrap_form form layout='horizontal' %}
{% endblock %}

{% block main_footer %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'order_patient' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}