{% extends "base/base_billing.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Dashboard" %}{% endblock %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Dashboard" %}</li>
{% endblock %}

{% block main %}

<div class="row mtbox">
            <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                <div class="box1" onclick="window.location.assign('{% url 'orders_list' %}')">
                    <span class="fa fa-file-alt"></span>
                    <h3>{{ ordercount_today }}</h3>
                </div>
                    <p>{% trans "you have" %} {{ ordercount_today }} {% trans 'order(s) today.' %}</p>
            </div>
            <div class="col-md-2 col-sm-2 box0">
                <div class="box1" onclick="window.location.assign('{% url 'patients_list' %}')">
                    <span class="fa fa-users"></span>
                    <h3>{{ patientcount_today }}</h3>
                </div>
                    <p>{% trans "you add new" %} {{ patientcount_today }} {% trans 'patient(s) today.' %}</p>
            </div>
 </div>

{% endblock %}