{% load i18n %}

<div class="btn-group btn-group-sm" role="group">
    {% if perms.inventory.change_stockin %}
        <button class="btn btn-info" onclick="location.href=
                '{% url 'returningproduct_edit' record.pk %}'" title="{% trans 'Edit returning product' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span></button>
    {% endif %}
    {% if perms.inventory.delete_stockin %}
        <button class="btn btn-danger" onclick="location.href=
                '{% url 'returningproduct_delete' record.pk %}'" title="{% trans 'Delete returning product' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-trash"></span></button>
    {% endif %}
</div>