{% extends "base/main_section_base.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}
    {% trans "Returning product" %}
{% endblock %}

{% block title %}
    {% trans "Returning product" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'returningproduct_list' %}">{% trans "Returning product" %}</a></li>
    <li class="active">{% trans "Delete returning product" %}</li>
{% endblock %}

{% block main_header %}
        {% trans "Delete returning product" %}
{% endblock %}

{% block main_inner %}
    <form action = ""  method = "post">
        {% csrf_token %}

        <h3 class = ''>
            {% trans "Are you sure you want to delete the following item?" %}<br>{{object}}
        </h3>

        <button type='submit' class='btn btn-danger'>
            {% trans "Delete" %}
        </button>

        <button type="button" class="btn btn-default"
                onclick="window.location.assign('{% url 'supplier_list' %}')">
            {% trans "Cancel" %}
        </button>
    </form>
{% endblock %}